[Unit]
Description=SSD1306 OLED Dashboard
After=local-fs.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/chuck/AutonomousBoat/check_ssd1306.py
ExecStop=/usr/bin/python3 /home/chuck/AutonomousBoat/ssd1306_shutdown.py
WorkingDirectory=/home/chuck/AutonomousBoat
Restart=on-failure
RestartSec=5
User=root
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
